.form-container {
  position: relative;
  overflow: hidden;
  height: 90vh;
}

.form-what {
  position: absolute;
  left: 0px;
  height: 100%;
}

.form-section{
  height: 100%;
  position: relative;
}

.form-when {
  position: absolute;
  left: 100vw;
  height: 100%;
}

.form-where {
  position: absolute;
  left: 200vw;
  height: 100%;

}

.form-close-poll {
  position: absolute;
  left: 200vw;
  height: 100%;
}

.form-hide {
  position: absolute;
  left: 200vw;
}

.form-show {
  position: absolute;
  left: 0px;
}

#place-choice {
  width: 100%;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#hangout_name {
  width: 100%;
  height: 55px;
}

.datepicker {
  width: 100%;
  height: 55px;
}

.date-cards-container {
  margin-top: 16px;
  overflow: scroll;
  height: 40vh;
  padding-top: 5px;
}

.locations-card-container {
  overflow: scroll;
  height: 40vh;
}

#hangout_description {
  margin-top: 75px;
  height: 150px;
}

.form-control {
  height: 55px;
}

.form-control[readonly] {
  height: 55px;
  background-color: #ffffff;
}

.form-when-text {
  padding: 0.7rem 0.75rem;
}

.date-form-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date-select {
  padding: 18px 32px;
}

.poll-form-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.poll-form {
  height: 55px;
}

.closeTimeContainer {
  display: flex;
  justify-content: center;
}


