.form-container {
  position: relative;
}

.form-what {
  position: absolute;
  left: 0px;
}

.form-when {
  position: absolute;
  left: 100vw;
}

.form-where {
  position: absolute;
  left: 200vw;

}

.form-hide {
  position: absolute;
  left: 200vw;
}

.form-show {
  position: absolute;
  left: 0px;
}
