.tag-line h2 {
  font-family: $body-font;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  margin-top: 40px;
}

.home-img {
  display: flex;
  justify-content: center;
}

.home-img img {
  width: 345px;
  height: 286px;
}

.container-home {
  height: calc(100vh - 30px);
  position: relative;
}

.carousel-indicators {
  li{
    background-color: gray;
  }
  .active{
    background-color: $purple;
  }
}
