// Import page-specific CSS files here.
@import "home";
@import "sign_up";
@import "form";
@import "show";

body {
  background-color: white;
  margin-right: -1px;
}

h2 {
  font-family: $body-font;
  font-weight: bold;
  font-size: 46px;
}

h3 {
  font-family: $body-font;
  font-weight: bold;
}

h4 {
  font-family: $body-font;
  font-weight: bold;
}

p {
  font-size: 18px;
}
