// h3 {
//   margin-top: 16px;
// }

h2 {
  font-family: $body-font;
  font-weight: bold;
  font-size: 46px;
}

h3 {
  font-family: $body-font;
  font-weight: bold;
}

h4 {
  font-family: $body-font;
  font-weight: bold;
}

p {
  font-size: 18px;
}

.show-page-header {
  margin-top: 24px;
}

.date-cards-container-show {
  margin-top: 16px;
  overflow: scroll;
  height: 20vh;
}

.locations-card-container-show {
  overflow: scroll;
  height: 45vh;
}

.share-link {
  border: 2px solid rgb(96,43,94);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copy-tooltip {
  position: relative;
  display: inline-block;
}

.copy-tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fas.fa-clipboard-list {
  font-size: 25px;
  font-size: 50px;
  color: rgb(96,43,94);
}
