.show-page-header {
  margin-top: 24px;
}

.date-cards-container-show {
  margin-top: 16px;
  margin-bottom: 24px;
}

.locations-card-container-show {
  margin-top: 16px;
  margin-bottom: 24px;
}

.share-link {
  border: 2px solid rgb(96,43,94);
  font-size: 30px;
  margin-top: 15px;
}

.copy-tooltip {
  position: relative;
  display: inline-block;
}

.copy-tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fas.fa-clipboard-list {
  font-size: 60px;
  color: rgb(96,43,94);
  // box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.50);
}

.modal-title {
  font-family: "Yanone Kaffeesatz", "Helvetica", "sans-serif";
  font-size: 30px;
}

.modal-body {
  text-align: center;
}

.share-link {
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", "Helvetica", "sans-serif";
  font-weight: bold;
}

#myInput {
  // position: absolute;
  // top: -100vh;
}

.locations-card-container-dashboard {
  overflow: scroll;
  height: 62vh;
}

.dashboard-tabs-ul {
  display: flex;
  margin-top: 32px;
}

.dash-tab {
  flex-grow: 1;
  width: 50%
}

.tab {
  color: $purple-dark;
  border: 1px solid $purple-dark;
  text-align: center;
}

.tab-active {
  color: white;
  text-align: center;
  border: 1px solid $purple-dark;
}

.dash-tab > a {
  color: $purple-dark;
  font-size: 18px;
}

.dashboard-tabs-ul > .dash-tab > .active {
  background-color: $purple-dark;
  border-radius: 0px;
}

