<div class="container">

  <div class="tag-line">
    <h2>Find the best time and place to meet your friends.</h2>
  </div>
  <div class="home-img">
    <%= image_tag "home-img.jpg" %>
  </div>

  <div class="create-hangout-btn">
    <%= link_to "Create a hangout", hangouts_path, class: "hangout-btn btn-primary" %>
  </div>
</div>
