<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="card-date">
  <!-- <div class="card-date-info"> -->
      <h2>MAR 4th</h2>
      <h3>TUE 7:00pm</h3>
  <!-- </div> -->
</div>
