.attendance {
  display: flex;
  flex: wrap;
  margin-bottom: 8px;
}

.attendance > div {
  margin-right: 8px;
  width: 100%;
}

.avatars-container {
  display: flex;
  flex: wrap;
}

#going, #maybe, #no {
  border: solid 1px $purple-dark;
  padding: 0px 4px;
  font-size: 22px;
  font-weight: bold;
  height: 55px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.attendance div.checked {
  background-color: $purple-dark;
  color: white;
}

.avatar-attendance {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 8px;
}

.avatar-faded {
  opacity: 0.6;
}
