.attendance {
  display: flex;
  flex: wrap;
}

.attendance div {
  border: solid 1px $purple-dark;
  padding: 0px 4px;
  margin-right: 8px;
}

.attendance div.checked {
  background-color: $purple-dark;
  color: white;
}
