.btn-primary {
  color: white;
  padding: 8px 20px;
  font-weight: bold;
  background: linear-gradient($purple-light, $purple);
  transition: background 0.3s ease;
  border: 1px solid $purple;
}

.btn-primary:hover {
  background: linear-gradient($purple, $purple-dark);
  color: white;
  border: 1px solid $purple;
  text-decoration: none;
}

.btn-secondary {
  color: $purple;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: bold;
  background-color: white;
  transition: background 0.3s ease;
  border: 1px solid $purple;
  opacity: 0.9;
}

.btn-secondary:hover {
  opacity: 1;
  color: $purple;
}

.btn-login {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-login:hover {
  opacity: 1;
  background-color: #ffffff;
  color: $purple-dark;
}

.create-hangout-btn {
  display: flex;
  height: 55px;
  margin-top: 24px;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 80px;
  width: 100%;
}

.create-hangout-btn-home {
  display: flex;
  height: 55px;
  margin-top: 24px;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.back-btn {
  color: $purple-dark;
  font-size: 18px;
  padding: 12px 10px;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  border: 1px solid $purple-dark;
  flex-grow: 1;
  height: 55px;
  border-right: 1px solid;
}

.back-btn:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.hangout-btn {
  flex-grow: 6;
  font-size: 24px;
  height: 55px;
}

.hangout-btn.disabled{
  background: gray;
  pointer-events: none;
  border-color: gray;
}


.share-btn {
  padding: 7px 151px;
  font-size: 25px;
}

.vote-btn {
  font-size: 25px;
  margin-bottom: 30px;
  width: 100%;
  height: 55px;
}
