
// Location card for where page.

.card-location {
  border: 5px solid transparent;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 8px 0px;
}

.card-location img {
  height: 120px;
  min-width: 120px;
  max-width: 120px;
  background-size: cover;
  background-position: center center;
}

.card-location .card-location-infos {
  padding: 8px;
  flex-direction: column;
  height: 120px;
}

.card-location h2 {
  font-size: 18px;
  font-weight: bold;
}

.card-location h3 {
  font-size: 16px;
  line-height: 1;
  opacity: .7;
  font-weight: lighter;
  margin-top: 0px;
}

.rating {
  margin-top: 0px;
  margin-bottom: 0px
}

.rating-delete {
  display: flex;
  justify-content: space-between;
}

.delete-location {
  margin-top: 0px;
}

.card-location.checked{
  border: 5px solid $purple-dark;
}

// Possible HTML for hangout view
// check app/javascript/plugins/init_autocomplete for sample HTML
