
// Location card for where page.

.card-location {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 8px 10px 10px 8px;
}

.card-location img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-location .card-location-infos {
  padding: 8px;
  flex-direction: column;
  height: 120px;
}

.card-location h2 {
  font-size: 24px;
  font-weight: bold;
}

.card-location h3 {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
}

.rating {
  margin-top: -5px;
}

.card-delete {
}


// Possible HTML for hangout view
// <div class="card-location">
//   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
//     <div class="card-location-infos">
//       <h2>Location name</h2>
//       <h3>Location description with <strong>relevant info</strong> only.</h3>
//       <ul class="review-stars list-inline">
//         <li class="list-inline-item">⭐️</li>
//         <li class="list-inline-item">⭐️ </li>
//         <li class="list-inline-item">⭐️ </li>
//         <li class="list-inline-item">⭐️ </li>
//       </ul>
//       <div class="card-delete">
//         <%= link_to "Delete", class: "btn btn-danger"  %>
//       </div>
//     </div>
// </div>
