// Date component for hangout page

.date-cards {
  display: flex;
  flex-wrap: wrap;
}

.date-card-container {
  margin-right: 6px;
  margin-left: 6px;
  margin-bottom: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-date {
  width: 103px;
  height: 120px;
  margin-right: 6px;
  margin-left: 6px;
  margin-bottom: 8px;
  border: 2px solid $purple-dark;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: #000000;
  text-align: center;
  position: relative;
}

.delete-date-card {
  position: absolute;
  top: -3px;
  right: -6px;
}

.card-date.checked {
  background-color: $purple-dark;
  color: white;
}

.card-date h2 {
  font-family: $body-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: -1px;
  margin: 12px 8px;
}

.card-date h3 {
  font-family: $body-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  margin: 12px 8px;
}

.card-date h4 {
  font-family: $body-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  margin: 12px 8px;
}

.date-votes {
  border-color: $purple-dark;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  text-align: center;
}

