<div class="form-container">
  <%= simple_form_for (@hangout) do |f| %>
    <div class="form-what">
      <div class="form-section">
        <%= render 'what', f: f %>
      </div>
    </div>
    <div class="form-when">
      <div class="form-section">
        <%= render 'when', f: f %>
      </div>
    </div>
    <div class="form-where">
      <div class="form-section">
        <%= render 'where', f: f %>
      </div>
    </div>
  <% end %>
</div>
