<div class="container">

  <div class="tag-line">
    <h2>Give your hangout a catchy title:</h2>
  </div>

  <div class="title-input-container">
    <%= f.simple_fields_for :name do |n| %>

    <div class="create-hangout-btn">
      <%= link_to "Next", new_hangout_path, class: "hangout-btn btn-primary" %>
    </div>

    <% end %>
  </div>
