<div class="tag-line">
  <h2>When do you want to meet up?</h2>
</div>

<div class="title-input-container">
<%#= f.input :choices, as: :string, required: false, input_html: {class: "datepicker"} %>
  <div class="form-group">
    <input type="text" class="form-control multi-datepicker" placeholder="Pick up to 3 dates" name="date_choices">
  </div>

<!--   <input type="text" class="time" placeholder="Pick up to 3 times" name="time_choices"> -->
<!--   <input type="text" class="time" placeholder="Pick up to 3 times" name="time_choices">
  <input type="text" class="time" placeholder="Pick up to 3 times" name="time_choices"> -->
  <div class="date-cards date-cards-container">

  </div>
  <div class="create-hangout-btn">
    <a href="#" class="back-btn">Back</a>
    <a href="#" class="next-btn hangout-btn btn-primary"> Next</a>
  </div>
</div>
