
<div class="calendar-container">
<%#= f.input :choices, as: :string, required: false, input_html: {class: "datepicker"} %>
<input type="text" class="datepicker" name="date_choices">
</div>



<div class="create-hangout-btn">
  <%= link_to "Next", new_hangout_path, class: "hangout-btn btn-primary" %>
</div>
